section { width: 60%; margin-left: 0 !important; margin-right: 0 !important; }
#sidebar { width: 40%; position: absolute; top: 11em; right: 0; text-align: center; margin-left: 0 !important; margin-right: 0 !important; }
#widgets1 { left: 0; }
#widgets2 { right: 0; }
