/*
Theme Name: Base Theme 2013
Theme URI: http://robertobaca.com/WP/
Author: Roberto Baca
Author URI: http://RobertoBaca.com
Description: Simple base theme for responsive sites
Version: 1
License: GNU General Public License
*/

@import url(style500.css) screen and (min-width:500px);
@import url(style760.css) screen and (min-width:760px);
@import url(style500.css) screen and (min-width:500px) and (orientation : portrait);
@import url(style760.css) screen and (min-width:760px) and (orientation: landscape);
@import url(style1340.css) screen and (min-width:1340px);

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; } 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Fonts */

body { font-family: Helvetica,sans-serif; font-size: 0.9em; color: #665950;}
h1, h2, h3 { font-family: 'Helvetica Neue', Helvetica,serif; }
h1 { font-size: 2em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-weight: bold; }
h5 { text-decoration: underline; }
h6 { font-style: italic; }
p { line-height: 1.5em; margin: 1em 0; }
p.date { font-size: 0.6em; font-weight: bold; font-style: italic; margin: 0 0 1em;}
strong { font-weight: bold; }


#site-title { font-family: serif; font-size: 2.5em; font-weight: normal; font-style: italic; line-height: 1em; margin: 0;}
#site-description { font-size: 1.2em; margin: 0; }

footer .credits { font-size: 0.8em; }
footer .credits p { margin: 0; line-height: 1em; }

/* Links */

a { color: #1177AA; }
h1 a, h2 a, h3 a { color: #665950; text-decoration: none; }

#site-title a { color: #665950; text-decoration: none; }

nav#mainNav a { text-decoration: none; color: #000; padding: 0.3em 1.5em; }
nav#mainNav a:link, nav#mainNav a:visited { background: #fff; }
nav#mainNav a:hover, nav#mainNav a:active { background: #ddd; }
nav#mainNav li.search form {padding: 0.3em 0.3em; background: #fff; }

/* Lists */
ul, ol { margin: 1.5em 1em; }
ul { list-style-type: circle; }
li { margin: 0 0 0.7em 0; line-height: 1.1em; }
ol { list-style-type: decimal; }

/* Structure */

header, footer { background: #fff; }
footer { padding: 1em 0 0 0; }
footer .credits { background: #000; background: rgba( 0, 0, 0, 0.65); padding: 0.5em 0; margin: 1em 0 0 0; color: #fff; }

nav#mainNav { background: #fff; padding: 1em 0; }
nav#mainNav ul { list-style-type: none; margin: 0 auto; padding: 0; }
nav#mainNav li { line-height: 1.6em; margin: 0 0.5em; }

nav.postNav { font-size: 1em; margin: 0 0 1em; }
nav.postNav p, nav.pagesNav p { margin: 0; padding: 0; line-height: 1em;}
nav.postNav p.nextPost, nav.pagesNav p.nextPost { text-align: left; }
nav.postNav p.previousPost, nav.pagesNav p.previousPost { text-align: right;}

/* Images */

img.alignleft { float: left; margin: 0 5px 5px 0; }
img.alignright { float: right; margin: 0 0 5px 5px; }

/* Boxes */

pre { margin: 2em; border: 3px dashed #665950; background: #333; color: #ddd; padding: 1em; line-height: 1.2em;
	white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word;
}
