header, footer { width: 100%; }
header { margin: 0 0 1.5em; height: 15em; position: absolute; top: 0; left: 0; }
hgroup { margin: 1em 20%; }

nav#mainNav { width: 100%; position: absolute; bottom: 0; left: 0;}
nav#mainNav ul { text-align: center; }
nav#mainNav li { display: inline; white-space: nowrap; }
nav#mainNav li.search form { display: inline; }
nav#mainNav ul li ul { display: none; }
nav#mainNav ul li ul li { display: block; }
nav#mainNav ul li:hover ul { display: block; }

nav.postNav, nav.pagesNav { display: table; }
nav.pagesNav { width: 60%; max-width: 800px; margin: 1em auto 1.5em auto; } 
nav.postNav p, nav.pagesNav p { width: 50%; display: table-cell; }

section { width: 90%; max-width: 1339px; margin-left: auto !important; margin-right: auto !important; }
section#latestPost { margin-top: 250px; }
section article { margin: 0 10px; font-size: 1.2em; }

#sidebar { font-size: 1.2em; width: 90%; max-width: 1339px; margin-left: auto !important; margin-right: auto !important; margin-bottom: 10px; }
#sidebar aside .widget { text-align: left; }
#sidebar aside ul { margin: 0.5em 0; }
#sidebar aside ul li { margin: 0 0 0.5em 0; padding: 0 0 0.5em 0; list-style-type: none; border-bottom: 1px dashed #ddd; }


footer {  }
footer .widgets .widget { display: block; width: 23%; margin: 0 5%; float: left;}
footer .credits { clear: both; text-align: center; }

footer nav { width: 100%; }
footer nav ul { text-align: center; }
footer nav ul li { display: inline; white-space: nowrap; }

blockquote { margin: 1em !important; padding: 1em !important; }
blockquote a { font-weight: bold; font-style: italic; }
blockquote img { width: 100%; }
